
.demo{
     padding-top: 4%;
     height: 400px;
     margin-bottom: 200px;
}
.col-md-3{
     background: #842761;
     padding: 4%;
     border-top-left-radius: 0.5rem;
     border-bottom-left-radius: 0.5rem;
}
.contact-info{
     margin-top:10%;
}
.contact-info img{
     margin-bottom: 15%;
}
.contact-info h2{
     margin-bottom: 10%;
     color: #fff;
}

.contact-info h4{
     color: #fff;
}

.col-md-9{
     background: #f9e5f2;
     padding: 3%;
     border-top-right-radius: 0.5rem;
     border-bottom-right-radius: 0.5rem;
}

.contact-form label{
     font-weight:600;
}
.contact-form button{
     background: #842761;
     color: #fff;
     font-weight: 600;
     width: 25%;
}
.contact-form button:focus{
     box-shadow:none;
}

.demoinput{
     width: 100%;
     margin-bottom: 20px;
}