---
title: Contact
layout: default
bodyClass: page-contact
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12">
            <h1 class="title">{{page.title}}</h1>
            <div class="demo">
                <div class="row">
                    <div class="col-md-6">
                        <div class="service service-single">
                            
                            <h3>Ask how we can help you</h3>
                            See our platform in action Request a personalized demo.
                            <p><h3>Points of Contact</h3></p>
                            <p><h4>France | Myllenyl Headquarters</h4>
                            194 rue Lafayette 75010 Paris<br>
                            +33 670 41 53 73</p>
                            <p><h3>Information and Sales</h3>
                            <a href="mailto:contact@myllenyl.com">contact@myllenyl.com</a></p>
                            <p><h3>Additional Office Location</h3></p>
                            <p><h4>India </h4>
                            1569, 19 Main, AECS A Block, Singasandra, Bangalore 560068<br>
                            +91 80 4956 3512</p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-form">
                          <form action="https://formspree.io/f/xrgongqp" method="POST" method="POST">
                            <div class="form-group">
                              <label class="control-label col-sm-10" for="fname">First Name:</label>
                              <div class="col-sm-10">          
                                <input type="text" class="form-control demoinput" id="fname" name="fname" placeholder="Enter First Name" name="fname">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-sm-10" for="lname">Last Name:</label>
                              <div class="col-sm-10">          
                                <input type="text" class="form-control demoinput" id="lname" name="lname" placeholder="Enter Last Name" name="lname">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-sm-10" for="email">Email:</label>
                              <div class="col-sm-10">
                                <input type="email" class="form-control demoinput" id="email" name="email" placeholder="Enter email" name="email">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-sm-10" for="phone">Phone:</label>
                              <div class="col-sm-10">
                                <input type="number" class="form-control demoinput" id="phone" name="phone" placeholder="Phone" name="phone">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-sm-10" for="comment">Comment:</label>
                              <div class="col-sm-10">
                                <textarea class="form-control demoinput" rows="5" id="comment" name="comment"></textarea>
                              </div>
                            </div>
                            <div class="form-group">        
                              <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default" value="send">Submit</button>
                              </div>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
